.body {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.navpage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: burlywood;
    width: 100%;
    height: 80px; /* Tvde 80px*/
    overflow: auto;
}

.giris {
    border-top: rgba(11, 59, 107) 5px solid;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    border-bottom: rgba(11, 59, 107, 0.9) 4px solid;
    overflow: hidden;
}

.ingiris {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.imageStyle {
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;

}

.navparag {
    font-family: "Arial Rounded MT Bold";
    color: crimson;
    font-weight: bolder;
    text-align: center;
    position: relative;
    left: 0;
    margin-left: 3%;
    padding: 10px;
    font-size: 3.5vw;
}

.navparag:hover {
    cursor: pointer;
}



.userNameLabel {
    font-size: 3vw;
    align-items: center;
    color: crimson;
    font-weight: bolder;
}

.userNameLabel2 {

    font-size: 3vw;
    color: crimson;

}

.userNameInputDiv {
    position: absolute;
    top: 30%;
}

.userNameInputDiv2 {
    position: absolute;
    top: 60%;
}

.userNameInput {
    width: 50vw;
    height: 3.5vw;
    border-radius: 99px;
    font-size: 3vw;
    border: 1vw solid burlywood;
    color: crimson;
    font-weight: bolder;
    text-align: center;
    backdrop-filter: blur(10px);
}

.userNameInput:focus,
.userNameInput:active {
    outline: none; /* inputun actif olduğunda etrafı mavi olarak seçili görünmemesine yarar. nereye ekkersen olur örn: .userNameInput içine*/

}

.userNameInput::placeholder {
    opacity: 0.2;
    color: black;
}

.buttonStyle {
    font-family: 'FFDINWebLight', sans-serif;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    font-size: 3.5vw;
    margin-top: 2.5vw;
    text-align: center;
    align-items: center;
    color: burlywood;
}

.btn1 {
    border: 0.3vw crimson solid;
    border-radius: 99px;
    padding: 20px;
    color: burlywood;
}

.btn2 {
    font-size: 25px;
}

.buttonPara {
    font-size: 15px;
    font-weight: normal;
    color: burlywood;
}

.btn1:hover {
    color: crimson;
    cursor: pointer;
    background-color: #0B3B6B;
}

.btn2:hover {
    color: crimson;
    cursor: pointer;
}

.linkStyle {
    text-decoration: none;
    color: burlywood;
}

.divLabels {
    width: 95vw;
    height: 80vw; /*Nest-hub max  */
    position: absolute;
    top: 5%;
    bottom: 5%;
    left: 1%;
    border-radius: 9vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(125 125 125 / 0.1);
    backdrop-filter: blur(10px);
    border: 1px #0B3B6B solid;
    box-shadow: 3px 3px #0B3B6B;
    overflow: auto;
}

@media screen and (min-width: 1280px) {


}

.aStyle {
    color: burlywood;
}

/* TV EKRANI */
@media screen and (min-width: 1440px) {
    .giris {
        scroll-behavior: smooth;
        height: 701px;
    }

    .parag {
        scroll-behavior: smooth;
        text-align: center;
        position: absolute;
        color: wheat;
        target-position: above;
        left: 20%;
        top: 15%;
        font-size: 70px;
    }


}
