.body{
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.navpage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: burlywood;
    width: 100%;
    height: 80px;
}

.giris {
    border-top: rgba(11, 59, 107) 5px solid;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.ingiris {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imageStyle{
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.giris:hover{
    border-top:rgba(11,59,107,0.4) 5px solid ;
}
.giris:hover .imageStyle{
    cursor: pointer;
    opacity: 0.4;
    color: black;

}
.giris:hover .parag{
    color: coral;
}

.parag {
    text-align: center;
    color: wheat;
    position: absolute;
    font-size: 10vw;
}

.navparag {
    font-family: "Arial Rounded MT Bold";
    color: crimson;
    font-weight: bolder;
    text-align: center;
    position: absolute;
    left: 0;
    margin-left: 3%;
    padding: 10px;
    font-size: 3.5vw;
}

.navparag:hover {
    cursor: pointer;
}

.girisButton {
    text-decoration: none;
}

.navButton {
    font-family: 'FFDINWebLight', sans-serif;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    font-size: 2.5vw;
    text-align: center;
    position: absolute;
    right: 0;
    margin-right: 1%;
    color: crimson;
    align-items: center;


}

.navB {
    border: 1px crimson solid;
    border-radius: 99px;
    padding: 1vw;
    color: crimson;
    margin: 2.5vw;
}

.navB2 {
    border: 1px solid;
    border-radius: 99px;
    padding: 1vw;
    margin: 2.5vw;
    color: crimson;
}

.navB:hover {
    color: #0B3B6B;
    cursor: pointer;
    background-color: wheat;
    border: none;
}

.navB2:hover {
    color: #0B3B6B;
    cursor: pointer;
    background-color: wheat;
    border: none;
}

.secondButton {
    top: 10%;
    position: relative;
    border: 5px black solid;
    border-radius: 30px;
    padding: 30px; /* 20px yapılırsa mobilde biraz boşluk kalıyor ama daha estetik */
    height: 4vw;
    margin-right: 4vw;
    margin-left: 4vw;
    background-color: wheat;
    color: black;
    text-decoration: none;

}

.secondPara {
    font-family: "Times New Roman", Times, serif;
    font-weight: bolder;
    font-size: 3vw;
    position: relative;
    text-align: center;
    bottom: 50%;
    align-items: center;
}
.secondButton:hover {
    cursor: pointer;
    background-color: green;
    color: white;
}

.denemediv {
    display: flex;
    flex-direction: column;
    gap: 5%;
    width: 100%;
    height: 690px;
    margin-bottom: 3vw;
}

.navEnd {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 4vw;
}

.navEndPara {
    position: absolute;
    bottom: 1vw;
    font-size: 1.5vw;
    font-family: bolder;
    font-family: "Apple Color Emoji";
    color: #0B3B6B;
}

.navEndButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    right: 5vw;
    bottom: 0.25vw;
}

.navEndTop {
    font-size: 2vw;
    font-family: bolder;
    font-family: "Apple Color Emoji";
    color: #0B3B6B;
}

.iconStyle {
    height: 5vw;
    width: 5vw;
}

.navEndButtons:hover {
    cursor: pointer;
}

.iconStyle:hover {
    cursor: pointer;
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */


@media screen and (min-width: 1280px) {
    .parag{
        scroll-behavior: smooth;
        text-align: center;
        position: absolute;
        color: wheat;
        target-position: above;
        left: 15%;
        top: 5%;
        font-size: 70px;
    }
}

/* TV EKRANI */
@media screen and (min-width: 1440px) {

    .parag {

        /*left: 20%;
        top: 15%;*/
        font-size: 70px;
    }
}

