.body {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.navpage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: burlywood;
    width: 100%;
    height: 80px; /* Tvde 80px*/
    overflow: auto;
}

.girisForBlur {
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: rgb(250 250 250 / 0.3);
    backdrop-filter: blur(10px);
    overflow: hidden;
}

.giris {
    border-top: rgba(11, 59, 107, 0.9) 5px solid;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-bottom: rgba(11, 59, 107, 0.9) 4px solid;

}

.ingiris {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.imageStyle {
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;

}

.blurWindowStyle {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgb(125 125 125 / 0.5);
    backdrop-filter: blur(10px);
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.navparag {
    font-family: "Arial Rounded MT Bold";
    color: crimson;
    font-weight: bolder;
    text-align: center;
    position: relative;
    left: 0;
    margin-left: 3%;
    padding: 10px;
    font-size: 3.5vw;
}

.navparag:hover {
    cursor: pointer;
}

.optionsDiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 15px;

}


.inputsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputDiv {
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: center;
    justify-content: flex-start;
}

.labelStyle {
    font-size: 2.5vw;
    font-weight: bolder;
    color: white;
    margin-right: 2vw;
    width: 10vw;
}

.selectStyle {
    height: 2.5vh;
    width: 22vw;
    border-radius: 20px;
    border: 3px solid burlywood;
    color: white;
    background-color: cadetblue;
    outline: none;
    font-weight: bolder;
    font-size: 3.5vw;
}



.ekleButton {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    margin-top: 15%;
    text-align: center;
    border: 2px solid cadetblue;
    border-radius: 99px;
    color: wheat;
    font-weight: bold;
    font-size: 3vw;
}

.ekleButton:hover {
    cursor: pointer;
    background-color: cadetblue;
    color: crimson;
}


@media screen and (min-width: 768px) {
    .navparag {
        font-size: 2vw;
    }

    .optionsDiv {
        gap: 5%;
    }


    .labelStyle {
        font-size: 1.5vw;
    }

    .listeleStyle {
        padding: 0.5vh 8vh;
    }

    .selectStyle {
        height: 2.5vw;
        width: 12vw;
        border-radius: 20px;
        font-size: 1.5vh;
        border: 0.5vh solid burlywood;
    }

    .ekleButton {
        font-size: 3vh;
    }
}


