.body{
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
.navpage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: burlywood;
    width: 100%;
    height: 80px; /* Tvde 80px*/
    overflow: auto;
}

.giris {
    border-top: rgba(11, 59, 107) 5px solid;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.ingiris {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ingiris2{
    background-color: antiquewhite;
    position: relative;
    width: 50%;
    height: content-box;
}
.imageStyle{
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.giris:hover{
    border-top:rgba(11,59,107,0.4) 5px solid ;
}
.giris:hover .imageStyle{
    cursor: pointer;
    opacity: 0.4;
    color: black;

}
.giris:hover .parag{
    color: coral;
}

.parag {
    text-align: center;
    color: wheat;
    position: absolute;
    font-size: 10vw;
}

.navparag {
    font-family: "Arial Rounded MT Bold";
    color: crimson;
    font-weight: bolder;
    text-align: center;
    position: relative;
    left: 0;
    margin-left: 3%;
    padding: 10px;
    font-size: 3.5vw;
}

.navparag:hover{
    cursor: pointer;
}



.secondButton {
    top: 10%;
    position: relative;
    border: 5px black solid;
    border-radius: 30px;
    padding: 30px; /* 20px yapılırsa mobilde biraz boşluk kalıyor ama daha estetik */
    height: 4vw;
    margin-right: 4vw;
    margin-left: 4vw;
    background-color: wheat;
    color: black;
    text-decoration: none;
}

.secondPara {
    font-family: "Times New Roman", Times, serif;
    font-weight: bolder;
    font-size: 3vw;
    position: relative;
    text-align: center;
    bottom: 50%;
    align-items: center;
}
.secondButton:hover{
    cursor: pointer;
    background-color: green;
    color: white;
}
.denemediv {
    display: flex;
    flex-direction: column;
    gap: 5%;
    width: 100%;
    height: 100%;
    margin-bottom: 3vw;
}

.navEnd {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 5vh;
}

.navEndPara {
    position: absolute;
    bottom: 1vw;
    font-size: 1.75vw;
    font-family: bolder;
    font-family: "Apple Color Emoji";
    color: #0B3B6B;
}

.navEndButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    right: 5vw;
    bottom: 0.25vw;
}

.navEndTop {
    font-size: 2vh;
    font-family: bolder;
    font-family: "Apple Color Emoji";
    color: #0B3B6B;
}

.iconStyle {
    height: 5vh;
    width: 5vh;
}

.iconStyle:hover {
    cursor: pointer;
}
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */




/* TV EKRANI */
@media screen and (min-width: 768px) {
    .navpage {
        height: 8vw;
        overflow: auto;
    }

    .parag {
        font-size: 10vh;
    }

    .iconStyle {
        height: 5vw;
        width: 5vw;
    }
}