.body {
    position: absolute;
    align-items: flex-start;
    left: 0px;
    top: 0px;
    bottom: 0px;
    margin-left: auto;
    width: 100%;
}

.navpage {
    display: flex;
    flex-direction: row;
    background-color: burlywood;
    width: 100%;
    height: 71px;
}

.giris {
    border-top: rgba(11, 59, 107, 0.9) 5px solid;
    width: 100%;
    height: 650px;
    display: flex;
    position: relative;
    border-bottom: rgba(11, 59, 107, 0.9) 4px solid;

}

.ingiris {
    position: relative;
    width: 100%;
    height: content-box;

}

.imageStyle {
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;

}

.blurWindowStyle {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgb(125 125 125 / 0.5);
    backdrop-filter: blur(10px);
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.navparag {
    font-family: "Arial Rounded MT Bold";
    color: crimson;
    font-weight: bolder;
    text-align: center;
    position: absolute;
    left: 40px;
    margin-left: 50px;
    padding: 10px;
    font-size: 45px;
}

.navparag:hover {
    cursor: pointer;
}

.tableDiv {
    display: flex;
    flex-direction: column;
    margin: 12px;
}

.tableStyle {
    color: crimson;
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.labelStyle {
    font-size: x-large;
    font-weight: bolder;
    color: white;
}

.selectStyle {
    height: 50px;
    width: 160px;
    border-radius: 20px;
    border: 3px solid burlywood;
    color: white;
    background-color: cadetblue;
    outline: none;
}

.listeleStyle {
    padding: 15px 55px;
    border-radius: 20px;
    border: 3px solid burlywood;
    background-color: crimson;
    outline: none;
    font-size: large;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    box-shadow: 0 9px #999;

}

.listeleStyle:hover {
    cursor: pointer;
    background-color: red;
}

.listeleStyle:active {
    background-color: red;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
