.body {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.navpage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: burlywood;
    width: 100%;
    height: 80px; /* Tvde 80px*/
    overflow: auto;
}

.giris {
    border-top: rgba(11, 59, 107, 0.9) 5px solid;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    border-bottom: rgba(11, 59, 107, 0.9) 4px solid;
    overflow: hidden;
}

.ingiris {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.imageStyle {
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.navparag {
    font-family: "Arial Rounded MT Bold";
    color: crimson;
    font-weight: bolder;
    text-align: center;
    position: relative;
    left: 0;
    margin-left: 3%;
    padding: 10px;
    font-size: 3.5vh;
}

.navparag:hover {
    cursor: pointer;
}

.divBlurWindow {
    width: 95vw;
    height: 80vh; /*Nest-hub max  */
    position: absolute;
    top: 5%;
    bottom: 5%;
    left: 1%;
    border-radius: 9vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: rgb(125 125 125 / 0.1);
    backdrop-filter: blur(10px);
    border: 1px #0B3B6B solid;
    box-shadow: 3px 3px #0B3B6B;
    overflow: auto;
}

.inDivLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10%;
}

.inDivRight {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    margin-left: 5%;
}

.userChooseLabel {
    color: crimson;
    font-size: 1.5vw;
}

.userChooseInputDiv {
    /*  display: flex;
      flex-direction: row;
      justify-content: space-between;*/
}

.coUserStyle {
    color: burlywood;
    font-weight: bolder;
    font-size: 1.5vw;
}

.companyNameVisible {
    visibility: visible;
}

.companyNameHidden {
    display: none;
}


.companyNameHidden:empty {
    display: none;
}


.companyName {
    color: crimson;
    font-size: 2vw;
    font-weight: normal;
}


.userNameInput {
    width: 35vw;
    height: 2vw;
    border-radius: 9vw;
    font-size: 1.5vw;
    border: 3px solid burlywood;
    color: crimson;
    font-weight: bolder;
    text-align: center;
    backdrop-filter: blur(10px);
    outline: none;
}

.passwordLabel {
    position: relative;
    color: crimson;
    font-weight: normal;
    font-size: 2vw;

}

.buttonStyle {
    font-family: 'FFDINWebLight', sans-serif;
    font-weight: bolder;
    font-size: 2vw;
    text-align: center;
    align-items: center;
    color: burlywood;
    margin-top: 5%;

}

.btn1 {
    border: 1px crimson solid;
    border-radius: 99px;
    padding: 10px;
}

.girisYapButtonDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1.5vw;
}

.btn2 {
    font-size: 2vh;
    color: burlywood;
    padding-left: 1vw;
}

.buttonPara {
    font-size: 1vw;
    font-weight: normal;
    color: burlywood;
}

.btn1:hover {
    color: crimson;
    cursor: pointer;
    background-color: #0B3B6B;
}

.btn2:hover {
    color: crimson;
    cursor: pointer;
}

.linkStyle {
    text-decoration: none;
}

@media screen and (min-width: 1280px) {

}

/* TV EKRANI 768px*/
@media screen and (min-width: 1440px) {
    .divBlurWindow {
        width: 95vw;
        height: 80vh; /*Nest-hub max  */
        position: absolute;
        top: 5%;
        bottom: 5%;
        left: 1%;
        border-radius: 9vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        background-color: rgb(125 125 125 / 0.1);
        backdrop-filter: blur(10px);
        border: 1px #0B3B6B solid;
        box-shadow: 3px 3px #0B3B6B;
        overflow: auto;
    }
}